@function px( $px ){
	@return $px/$designWidth + rem;
}
$designWidth : 414;
*{margin: 0;padding: 0; box-sizing: border-box;}
*::after{box-sizing: border-box;}
*::before{box-sizing: border-box;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
a{color: inherit;text-decoration: none;}
ol,li{list-style: none;}

            
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
 @keyframes turn {
    0%{transform: rotate(0)}
    100%{transform: rotate(360deg)}
}
body{

    font-size: 16px;
}
.wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 1rem;
    .cover{
        position: absolute;
        top: 0;
        left: 0 ;
        width: 100%;
        height: 100%;
        background-image: url('#');
        background-size: cover;
        background-position: center;
        z-index: -1;
    }
    .cover::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0 ;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);

    }
}

header{
    .logo{
        position: absolute;
        top:px(12);
        left:px(12);
        img{
            width: px(100);
        }
    }
    .songWrapper{
        text-align: center;
        .discWrapper{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top:px(60);
            .iconButton{
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 1;
                margin-left: -0.075rem;
                .iconplay{
                    display:none;
                    svg{
                        width: px(62);
                        height: px(62);
                        fill: white;
                        background-color: rgba(40, 40, 40, 0.8);
                        border-radius: 50%;
                    }
                }
                .iconplay.pause{
                    display:block;
                }
            }
            .needle{
                width: px(90);
                height: px(137);
                position: absolute;
                top:0;
                left: 52%;
                z-index: 1;
            }
            .disc{
                position: relative;
                animation: turn 20s linear infinite;
                img{
                    height: px(322);
                    width: px(322);

                }
                .disclight{
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                .album{
                    position: absolute;
                    top: 18%;
                    left: 18%;
                    width: px(216);
                    height: px(216);
                    border-radius: 50%;
                }
            }
            .disc.pause{
                animation-play-state: paused;
            }
        }
    }
}
main{
    margin-top: px(25);
    .lyricWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        .song{
            text-align: center;
            width: px(344);
            span{
                color: white;
            }
            .songName{
                font-size: 18px;
            }
            .songSinger{
                color: #AEAEAE;
            }
        }
        .lyricScroll{
            text-align: center;
            overflow: hidden;
            margin:px(14) 0;
            width: px(344);
            height: px(100);
            .lyric{
                transition: all 0.3s;
                p{
                    padding-bottom: px(8);
                }
                p.active{
                    color:white;
                }
                color: #AEAEAE;
            }
        }
    }
}

footer{
    .buttonWrapper{
        position: absolute;
         bottom: 0;
         left: 0;
        text-align: center;
        width: 100%;
        button{
            width: 48%;
            height: px(40);
            border: 1px solid #d33a31;
            border-radius: px(40);
            color: #d33a31;
            margin-bottom: px(10);
            font-size: 18px;
            letter-spacing: px(4);
            
        }
        .openApp{
            background-color: rgba($color: #000000, $alpha: 0)
        }
        .downloadApp{
            color: white;
            background-color: #d33a31;
        }
    }
}
